body{
  margin-top: 200px;
}
.post{
  font-size: 15px;
  font-family: Helvetica;
  border: 5px double grey;
  display: block;
  width: 70%;
  margin: 0 auto;
  padding: 30px 0;
}

.post-name{
  text-align: center;
  font-size: 16px;
 color: #33691E;
}

.post-author{
  font-size: 10px;
  border: 1px dotted grey;
  width: 70px;
  text-align: center;
  margin: 10px 0px;
}
.post-content{
  color: grey;
}
@media(max-width: 780px){
  .post{
    width: 100%;
  }
  .post-content{
    font-size: 18px;
  }
}
